.git/
.idea/
.vscode/
node_modules/
target/
dist/
unpackage/
.gradle/
.mvn/
_upload_packages/

*.log
*.tmp
*.zip
*.rar
*.7z
*.tar
*.gz
*.py
*.DS_Store
*.sql
Thumbs.db

package-lock.json
project.config.json
project.private.config.json

/assets/
